<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="myHead">
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">URL Shortener</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu">
<!--              <li><a class="dropdown-item" href="?lang=en">English</a></li>-->
<!--              <li><a class="dropdown-item" href="?lang=pl">Polski</a></li>-->
<!--              <li><a class="dropdown-item" href="?lang=de">Deutsch</a></li>-->
              <li><a class="dropdown-item" href="">English</a></li>
              <li><a class="dropdown-item" href="">Polski</a></li>
              <li><a class="dropdown-item" href="">Deutsch</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/url" method="GET">
          <input class="form-control me-2" type="search" name="id" placeholder="Search URL by ID" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <img class="logo" src="../static/images/logo.png" th:src="@{/images/logo.png}">
</div>
<div th:fragment="footer">
  <br><br>
  <p>TPO @ PJAIT &copy;2024</p>
</div>
</body>
</html>
