<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>URL Not Found</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="bg-info-subtle text-info-emphasis text-center">
<main layout:fragment="content">
    <span class="badge rounded-pill text-bg-danger">Error Page</span>
    <h1>Given URL ID doesn't exist in the database</h1>
    </main>
</body>
</html>
